<div id="footer">
      <div id="footer-logo-wrapper">
        <div id="footer-logo"></div>
      </div>
      <div id="contact">
        <p>Contact us</p>
        <p>
          Address: TGM Tech, 268 To Hien Thanh street, district 10, Ho Chi Minh city, Vietnam <br>
          Phone: 084 83 9907804 <br>
          Email: toan.nguyen@2359media.com.vn
        </p>
      </div>
    </div>