<%provide(:page_title, "Profile")%>
<%= stylesheet_link_tag "profile" %>


</head>
<body>
	<div id="wrapper">

		<%=render 'shared/header'%>


		<div id="main">
			<div id="profile-wrapper">


				<div id="profile-info">
					<div id="profile-logo">
						<%=image_tag "logo/2359.png"%>
					</div>
					<div id="profile-contact">
						<div id="profile-name">2359 Media</div>
						<p>Adress: 99 Tanjong Pagar Road, Singapore, 088520</p>
						<p>Tel: 6222 2359</p>
					</div>
				</div>


				<div id="profile-content">
					<div class="profile-heading">OVERVIEW</div>

					<div id="profile-intro">
						<p>2359 Media's goal is to create inspiring and immersive mobility solutions for bands. Today, brands partner with 2359 Media to develop rich interactive mobile experiences with a proven high engagement rate and targeted personalized outreach. We offer solutions from custom application development and mobile site creation to full mobile advertising campaign strategy, execution and analytics.</p>
						<p>As Singapore's best and largest application developer, we develop high quality apps for iOS, Android and windows phones, based on clients' requirements. Leveraging on our professional knowledge of mobile marketing industry, we also provide professional consulting services to help brand develop its best mobile marketing strategies.</p>
						<p>Our flagship product MobDis is an HTML5-based platform made for marketers and designers which allows users to create, publish and share fully customizable rich media mobile ads without the need to code.</p>
						<p>With an easy-to-use drag-and-drop interface, our users can create, publish and share within minutes of their first interaction with the platform.</p>
					</div>

					<div class="profile-heading">CAREER</div>

					<div id="list-job">
						<div class="job">
							<div class="job-name">iOS developer</div>
							<div class="job-info">Full time, Vietnam</div>
							<div class="job-desc">
								If you are an experienced and highly motivated iOS Developer, we bring a very exciting and challenging opportunity to you.
							</div>
							<div class="job-apply"><a>Apply now</a></div>
						</div>

						<div class="job">
							<div class="job-name">HTML/CSS</div>
							<div class="job-info">Full time, Vietnam</div>
							<div class="job-desc">
								We are looking for dynamic, quick learner and enthusiasm designers to join us. The Design Team is responsible for Creative, Graphic, UI and UX aspects of our projects. You will have the chance to experience with modern technologies: mobile, web and desktop applications with guidance from senior designers.
							</div>
							<div class="job-apply"><a>Apply now</a></div>
						</div>

						<div class="job">
							<div class="job-name">Android developer</div>
							<div class="job-info">Full time, Vietnam</div>
							<div class="job-desc">
								If you are an experienced and highly motivated Android Developer, we bring a very exciting and challenging opportunity to you.
							</div>
							<div class="job-apply"><a>Apply now</a></div>
						</div>
					</div>
				</div>


			</div>
		</div>


		<%=render 'shared/footer'%>

	</div>
</body>
</html>